<h2>Friends</h2>

<ul class="results">
<% people.forEach(function(person) { %>
	<li>
		
		<a href="/people/<%= person.id %>"><%= person.lastname %>, <%= person.firstname %></a>
		<div class="buttons">
			<a class="button pull-left" href="/people/<%= person.id %>/edit">Edit</a>
			<form class="pull-left" action="/people/<%= person.id %>?_method=delete" method="post">
				<input class="button delete" type="submit" value="Delete">
			</form>
		</div>
	</li>
<% }) %>
</ul>
